html {
    font-size: 10px;
}

.container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.stars-container {
    display: flex;
}

.stars-text {
    line-height: 1;
    margin: 0;
}
